@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@500&family=Open+Sans:wght@400;700&display=swap');

nav {
  margin: 50px 25px;
  max-width: 2000px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;

}

nav > a {
  text-decoration: none;
}



.nav__column:nth-child(1) {
  color:#575a5e;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: 'Fira Mono';
}

.nav__column:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__column--search-btn {
  margin-left: 20px;
}

.nav__column--login-btn {
  margin-left: 20px;

  font-weight: bold;

  color: white;
  background-color: #212529;

  width: 90px;
  height: 40px;
  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}
