.sorting {
  margin: 50px 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sorting__column:nth-child(1) {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sorting__column:nth-child(1) span:nth-child(1) {
  margin-right: 15px;
}

.sorting__column:nth-child(1) span:nth-child(2) {
  margin-right: 15px;
}

.sorting__column:nth-child(1) span:nth-child(2) i {
  margin-right: 10px;
}

.sorting__column:nth-child(2) {
  color: #575a5e;
  position: relative;
}

.sorting__column:nth-child(2) span {
  background-color: tomato;
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  bottom: 7px;
  left: 6px;

  position: absolute;
}
