<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/detail.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!--    <link rel="stylesheet" href="../static/css/view.css"/>-->
    <title>상세페이지</title>
</head>

<body>
<nav>
    <a href="/">I-log</a>
<!--    <a href="/write">글쓰기</a>-->
</nav>
<div class="detail_wrap">
    <div class="detail_img"></div>
    <div class="title"><h1>{{ list[0][1] }}</h1></div>
    <div class="info">
        <dl>
            <dt>글쓴이 : {{ list[0][4] }}</dt>
        </dl>
        <dl>
            <dt>작성일 : {{ list[0][5] }}</dt>
        </dl>
    </div>
    <div id="content">
        <dl>
            <dt><h2>{{ list[0][2] }}</h2></dt>
        </dl>
    </div>
    <!--        <script>-->
    <!--            let tmpStr = "{{ list[0][2] }}"-->
    <!--            tmpStr = tmpStr.replaceAll("&lt;", "<");-->
    <!--            tmpStr = tmpStr.replaceAll("&gt;", ">");-->
    <!--            tmpStr = tmpStr.replaceAll("&amp;lt;", "<");-->
    <!--            tmpStr = tmpStr.replaceAll("&amp;gt;", ">");-->
    <!--            tmpStr = tmpStr.replaceAll("&amp;nbsp;", " ");-->
    <!--            tmpStr = tmpStr.replaceAll("&amp;amp;", "&");-->
    <!--            tmpStr = tmpStr.replaceAll("&#34;", '"');-->
    <!--            document.getElementById("content").innerHTML = tmpStr;-->
    <!--        </script>-->
</div>
</div>
<div class="bt_wrap">
    <button><a href="/edit/{{ list[0][0] }}">수정</a></button>
    <button><a href="/delete/{{ list[0][0] }}">삭제</a></button>


    {# <a onclick="delete_board({{ list[0][0] }})" class="on">삭제</a>#}
    <button><a href="/" onclick="window.location.reload()">나가기</a></button>

</div>
</body>
</html>








<!--{% extends 'main.html' %}-->
<!--{% block head %}-->
<!--<title>DETAIL</title>-->
<!--{% endblock %}-->
<!--{% block body %}-->

<!--<div>여기 작업하면 됩니다.</div>-->

<!--{% endblock %}-->

