{% extends 'main.html' %}
{% block head %}
<link rel="stylesheet" href="/static/css/login.css">
<script src="/static/javascript/login.js"></script>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        alert("{{messages[-1]}}")
    </script>
    {% endif %}
{% endwith%}
<title>LOGIN</title>
{% endblock %}
{% block body %}
<nav>
    <a href="/" class="nav__column">I-log</a>
</nav>
<div>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="/users/login" method="POST">
                <input type="text" placeholder="username" name="userId"/>
                <input type="password" placeholder="password" name="password"/>
                <button type="submit">login</button>
                <p class="message"><a href="signup">Sign Up</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}