<html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_reset.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_variable.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_main.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_nav.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_boards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage_sorting.css') }}">

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>
<meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
{% block head %}
<title>Main</title>
{% endblock %}
</head>
<body>



{% block body %}
<nav>
    <a href="main.html" class="nav__column">I-log</a>
    <div class="nav__column">
        {% if login == True %}
        <h3>{{name}}님 어서오세요!</h3>
        <a href="logout">로그아웃</a>
        {% else %}
        <a href="/users/login" class="nav__column--login-btn">로그인</a>
        {% endif %}
        <div><i class="fas fa-adjust fa-xl"></i></div>
        <a href="search.html" class="nav__column--search-btn">
            <i class="fas fa-search fa-xl"></i>
        </a>
    </div>
</nav>

<div class="sorting">
    <div class="sorting__column">
        <span><i class="fa-solid fa-arrow-trend-up"></i> 트렌딩</span>
        <span><i class="fa-regular fa-clock"></i> <a>최신</a></span>
    </div>
    <div class="sorting__column">
        <i class="fa-solid fa-ellipsis-vertical fa-lg"></i>
        <span></span>
    </div>
</div>

<div  class="board__parent" id="feed">
    <a class="board" href="#">
        <div
                class="content__thumbnail"
                style="
              background-image: url(https://images.unsplash.com/photo-1670105791108-718c8d4b738e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
            "
        ></div>
        <!-- <img
          class="content__thumbnail"
          src="https://images.unsplash.com/photo-1670105791108-718c8d4b738e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        /> -->

        <!-- 여기서부터 content 제목div, 서브div, 작성일div -->
        <div class="content__text">
            <div class="content__title">
                함께 일하고 싶은 사람 - 1. 업무 습관
            </div>

            <div class="content__sub">
                경력을 시작한 지 2년 쯤 지났을 때, 팀장님이 질문했습니다. “함께
                일하고 싶은 사람은 어떤 사람일까요?”괜찮은 대답을 하지 못
                했습니다.
            </div>
            <div class="content__date">2022년 11월 9일 | 14개의 댓글</div>
        </div>

        <!-- 여기서부터 유저 정보 -->
        <div class="user">
            <div>
                <img class="user__avatar" src="" alt=""/>
                <span class="user__name">by ninto_2</span>
            </div>
            <div>
                <i class="fas fa-heart"></i>
                <span>789</span>
            </div>
        </div>
    </a>
</div>




</body>
<script>
    const  feed = document.querySelector('#feed');
    let a = ``
    axios.get('/feed')
        .then(function (response) {
            // 성공 핸들링
            console.log(response);
             response.data.map((feed) => {

             a += `<a class="board" href="#">
        <div
                class="content__thumbnail"
                style="
              background-image: url(${feed[3]});
            "
        ></div>
        <!-- <img
          class="content__thumbnail"
          src="https://images.unsplash.com/photo-1670105791108-718c8d4b738e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
        /> -->

        <!-- 여기서부터 content 제목div, 서브div, 작성일div -->
        <div class="content__text">
            <div class="content__title">
                ${feed[1]}
            </div>

            <div class="content__sub">
                ${feed[2]}
            </div>
            <div class="content__date">${feed[5]}</div>
        </div>

        <!-- 여기서부터 유저 정보 -->
        <div class="user">
            <div>
                <img class="user__avatar" src="" alt=""/>
                <span class="user__name">by </span>

            </div>
            <div>
                <i class="fas fa-heart"></i>
                <span>789</span>
            </div>
        </div>
    </a>`
            })
              feed.innerHTML = a
        })
        .catch(function (error) {
            // 에러 핸들링
            console.log(error);
        })
        .then(function () {
            // 항상 실행되는 영역
        });

</script>

<script
        src="https://kit.fontawesome.com/af8a64a43c.js"
        crossorigin="anonymous"
></script>
{% endblock %}




</html>
