{% extends 'main.html' %}
{% block head %}
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/mypage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/javascript/mypage.js"></script>
<title>MYPAGE</title>
{% endblock %}
{% block body %}
<nav>
    <a href="/" class="nav__column">I-log</a>
    <div class="nav__column">
        {% if login == True %}
        <h3>{{name}}의 일상</h3>
        <a href="write" class="nav__column--login-btn">글쓰기</a>
        <a href="logout" class="nav__column--login-btn">로그아웃</a>
        {% else %}
        <a href="/users/login" class="nav__column--login-btn">로그인</a>
        {% endif %}
    </div>
</nav>
<div class="mypage_main">

</div>
<div class="mypage_profile" >
    <img class="mypage_profile_img" src="">
    <div class="mypage_profile_let" id="load">


    </div>
</div>
<div class="wrap">
</div>

{% endblock %}
